<h1>Restaurant <%= @restaurant.name %></h1>

<div class="list-group">
  <div class="list-group-item">
    <h3>Address:</h3>
    <p><%= @restaurant.address %></p>
  </div>
  <div class="list-group-item">
    <h3>Phone number:</h3>
    <p><%= @restaurant.phone_number %></p>
  </div>
  <div class="list-group-item">
    <h3>Category:</h3>
    <p><%= @restaurant.category %></p>
  </div>
</div>

<%= link_to "Write a review", new_review_path(@restaurant) %>

<h3>Reviews:</h3>
<ul class="list-group">
  <% @reviews.each do |review| %>
    <li class="list-group-item">
      <div class="list-group">
        <div class="list-group-item">
          <h4>Rating:</h4>
          <p><%= review.rating %></p>
        </div>
        <div class="list-group-item">
          <h4>Content:</h4>
          <p><%= review.content %></p>
        </div>
      </div>
      </li>
  <% end %>
</ul>
